* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* text properties start */

h1 {
  font-family: "Playfair Display", serif;
  font-size: 6rem;
  line-height: 0.4;
  margin-top: 2rem;
}

.work {
  font-style: italic;
  font-weight: 200;
}

h2 {
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  /* line-height: 13%; */
  /* margin-top: 10rem; */
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 1.6rem;
  line-height: 0.7rem;
}

h4 {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
}

p {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.8;
  color: rgb(95, 93, 86);
}

b {
  color: black;
}

/* text properties end */

#concept-wrap {
  max-width: 1920px;
  height: auto;
  margin: 0 auto;
  background-color: #fffceb;
}

#concept-main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  animation: change 1s ease forwards;
}

@keyframes change {
  from {
    transform: translateX(100%);
    visibility: visible;
  }

  to {
    transform: translateX(0%);
  }
}

/** fixed navigation **/

#goto_other_page {
  display: flex;
  position: absolute;
  right: 16rem;
  top: 3rem;
}

#goto_other_page > li {
  margin: 0 1rem;
  /* transition: 1s, 1s;
  transform-origin: 100% 50%;
  transform: ease-out; */
}

#goto_other_page > li > a {
  position: relative;
}

#goto_other_page > li > a:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -7px;
  width: 0px;
  height: 2px;
  margin: 5px 0 0;
  transition: all 0.2s ease-in-out;
  transition-duration: 0.3s;
  opacity: 0;
  background-color: black;
}

#goto_other_page > li > a:hover:after {
  width: 100%;
  opacity: 1;
}

#goto_other_page > li:hover {
  font-weight: 500;
}

/** thread img edit **/

#concept-main > #concept-main-img {
  width: 100%;
  margin-top: 8rem;
}

#concept-main > #concept-main-img > li {
  width: 100%;
}

#concept-main > #concept-main-img > li > a {
  width: 100%;
}

#concept-main > #concept-main-img > li > a > img {
  width: 100%;
  object-fit: cover;
}

/** title **/

#concept-title {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr;
  padding: 0 120px;
}

.concept_img {
  display: flex;
  justify-content: space-around;
  padding: 2rem 1rem;
  grid-column: 2/3;
  grid-row: 1/3;
}

.concept_img > a {
  display: table;
  max-width: 600px;
  height: 3rem;
  margin-top: 1rem;
}

.concept_img > a > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.concept-main-text {
  grid-column: 1/2;
  grid-row: 2/3;
  margin-right: 120px;
}

/** concept img**/

#concept_imgs_wrap {
  width: 100%;
  height: 700px;
  display: flex;
  margin: 0 auto;
  padding: 120px;
  justify-content: space-around;
  position: relative;
}

#concept_imgs_wrap > li {
  position: absolute;
}

#concept_imgs_wrap > .anni1 {
  left: 120px;
  top: 5rem;
}

#concept_imgs_wrap > .anni2 {
  right: 120px;
  bottom: 5rem;
}

/** 1245 ~ 1080 **/

@media (max-width: 1245px) and (min-width: 1080px) {
  h1 {
    font-family: "Playfair Display", serif;
    font-size: 5rem;
  }

  h2 {
    font-size: 2rem;
    line-height: 0.7;
  }

  h3 {
    font-family: "Roboto", sans-serif;
    font-size: 1.4rem;
    line-height: 0.7rem;
  }

  h4 {
    font-weight: 500;
    font-size: 1.1rem;
  }

  /** concept img**/

  #concept_imgs_wrap {
    padding: 100px;
    position: relative;
  }

  #concept_imgs_wrap > li > img {
    margin: auto;
    max-width: 500px;
  }

  #concept_imgs_wrap > .anni1 {
    left: 100px;
    top: 5rem;
  }

  #concept_imgs_wrap > .anni2 {
    right: 100px;
    bottom: 5rem;
  }
}

/** 1080 ~ 0 **/

@media (max-width: 1079px) and (min-width: 0px) {
  body {
    position: relative;
    height: 100vh;
  }

  body::after {
    content: "! Sorry, We do not support smaller screen ! ";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    color: #fffceb;
    text-align: center;
    align-content: center;
  }

  #concept-wrap {
    display: none;
  }
}
