/* font-family: 'Abril Fatface', serif;
font-family: 'DM Serif Display', serif;
font-family: 'Fira Sans', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif; 
*/

/* font-family: 'Abril Fatface', serif;
font-family: 'DM Serif Display', serif;
font-family: 'Fira Sans', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif; 
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.hahmlet-<uniquifier> {
  font-family: "Hahmlet", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fffceb;
}

body,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h3,
h4,
h5 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 200;
  font-size: 1.3rem;
}

p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  letter-spacing: 0.7;
  word-break: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

#container {
  margin: 0 auto;
  max-width: 1920px;
  height: 100vh;
  display: grid;
  grid-template-columns: 70% 30%;
}

.thread_hover {
  opacity: 0.6;
}

#rope_part_holder {
  width: 100%;
  height: 100%;
}

#rope_holder {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

#rope_holder li {
  position: absolute;
}

.yellow-delma,
.green-doosi {
  height: 100%;
  width: 200px;
}

.orange-personal,
.blue-uni {
  width: 100%;
  height: 200px;
}

/* thread hover title */

.thread {
  opacity: 1;
}

#rope_holder > li > a {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

#rope_holder > li > a > .thread_img {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: 1s ease-in-out;
  width: 100%;
  height: 100%;
}

.yellow_thread_img {
  background-image: url(thread/yellowrope3.png);
}

.orange_thread_img {
  background-image: url(thread/orange-thread-wider.png);
}

.green_thread_img {
  background-image: url(thread/greenrope3.png);
}

.blue_thread_img {
  background-image: url(thread/bluethread3.png);
}

#rope_holder > li > a > .thread_title {
  position: absolute;
  background-color: #fffceb;
  border: solid 1.5px black;
  border-radius: 50px;
  opacity: 0;
  transition: 1s ease-in-out;
}

.orange-thread .thread_title,
.blue-thread .thread_title {
  left: 5%;
  top: 40%;
  bottom: 40%;
  line-height: 0.5;
  padding: 0 1rem;
}

.yellow-delma .thread_title,
.green-thread .thread_title {
  top: 5%;
  left: 40;
  right: 40%;
  line-height: 0.5;
  writing-mode: vertical-rl;
  text-align: center;
  padding: 1rem 0;
}

.thread_title > p {
  display: inline-block;
}

#rope_holder > li > a:hover .thread_img {
  transform: scale(1.2);
  transform: translateX(45%, -45%);
}

#rope_holder > li > a:hover .thread_title {
  opacity: 1;
}

/* thread position */

.yellow-delma {
  top: 0;
  right: 28%;
}

.green-doosi {
  left: 28%;
}

.orange-personal {
  top: 25%;
}

.blue-uni {
  bottom: 25%;
}

/** title **/

#title_holder {
  height: 100%;
  padding: 0 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: -5px 5px 20px 8px rgb(110, 104, 88, 20%);
}

.portfolio {
  border: solid 2px black;
  border-radius: 100px;
  width: 100%;
  height: auto;
}

.portfolio:hover {
  background-color: black;
}

.portfolio:hover h4 {
  color: #fffceb;
}

.portfolio > a {
  width: 100%;
  height: 100%;
  border-radius: 50px;
}

.portfolio h4 {
  padding-left: 2rem;
  line-height: 0.5;
  font-size: 1rem;
  font-weight: 400;
  color: black;
}

#side-drawer {
  background-color: #fffceb;
  max-width: 100%;
  max-height: 100vh;
  margin: 0 auto;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 100px 2fr 1fr;
  padding: 1rem;
  border-radius: 50px;
  box-shadow: -5px 5px 20px 8px rgb(110, 104, 88, 20%);
  transition: 2s ease-in-out;
}

.introduce_page {
  transform: translateX(200%);
}

#side-drawer > div {
  margin: 4rem 1rem;
}

.active {
  transform: translateX(0);
}

#side-drawer h4 {
  font-weight: 500;
  line-height: 0.7;
  margin: 0;
  color: rgb(77, 76, 69);
}

#side-drawer p {
  width: 90%;
  margin: 0;
}

#side-drawer h5 {
  display: inline-block;
  font-size: 1rem;
  font-weight: 700;
  position: relative;
  text-decoration: underline;
  text-underline-position: under;
}

#side-content-holder > .aside_btn {
  width: 1.4rem;
  height: 1.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  transition: 0.3s ease-in;
}

#side-content-holder span {
  width: 100%;
  height: 10%;
  position: absolute;
  background-color: black;
}

#side-content-holder > .aside_btn:hover {
  transform: rotate(90deg);
}

#side-content-holder span:nth-last-of-type(1) {
  transform: rotate(45deg);
}

#side-content-holder span:nth-last-of-type(2) {
  transform: rotate(-45deg);
}

.work-experience {
  grid-column: 1/2;
  grid-row: 2/3;
}

.education {
  grid-column: 1/2;
  grid-row: 3/4;
}

.skill_part {
  max-width: auto;
  max-height: 100%;
  grid-column: 2/3;
  grid-row: 2/4;
  display: flex;
  flex-direction: column;
}

.skill_part > .skills {
  width: 100%;
  height: 100%;
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
}

.skill_part > .skills > div {
  text-align: center;
  display: flex;
}

.skill_part > .skills > div > h5 {
  width: 7rem;
  line-height: 1.3;
  text-align: left;
  align-content: center;
}

.skill_part > .skills li {
  flex-grow: 1;
  width: 100px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  margin: 1rem 1rem;
}

.skill_part > .skills li > img {
  width: 30px;
  height: 30px;
  margin: 5px 0;
  object-fit: contain;
}

.skill_part > .skills .etc_skills li > img {
  width: 70px;
}

.skill_part > .skills li > .skill_bar {
  width: 70px;
  height: 5px;
  padding: 2px;
  margin: 0.6rem 0;
  background-color: bisque;
  border-radius: 10px;
}

.skill_part > .skills li > .skill_bar > .skill_bar_inner {
  width: 70%;
  height: 100%;
  text-align: left;
  border-radius: inherit;
  background-color: black;
}

.programming > li:nth-last-of-type(1) > .skill_bar > .skill_bar_inner,
.programming > li:nth-last-of-type(2) > .skill_bar > .skill_bar_inner,
.graphic_tool > li:nth-of-type(3) > .skill_bar > .skill_bar_inner {
  width: 30%;
}

.skill_part > .skills .program > p {
  width: 100%;
  font-size: 0.8rem;
  line-height: 2;
  white-space: nowrap;
  margin-top: 1rem;
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 8rem;
  line-height: 13%;
  font-weight: 700;
}

.han {
  font-style: italic;
  font-weight: 200;
}

/** media **/

/** 1440 ~ 1224 **/

@media (max-width: 1440px) and (min-width: 1245px) {
  .rope1 {
    transform: rotate(90deg);
    top: 33%;
    left: -30%;
  }
}

/** 1224 ~ 1080 **/

@media (max-width: 1245px) and (min-width: 1080px) {
  .yellow-delma,
  .green-doosi {
    height: 100%;
    width: 150px;
  }

  .orange-personal,
  .blue-uni {
    width: 100%;
    height: 200px;
  }

  .english_title {
    display: none;
  }

  /* thread hover title */

  #rope_holder h3 {
    font-size: 1.1rem;
  }

  #rope_holder .yellow-thread img,
  #rope_holder .green-thread img {
    width: 50%;
    height: 100%;
    object-fit: contain;
  }

  #rope_holder .yellow-thread h3,
  #rope_holder .green-thread h3 {
    margin-top: 2rem;
  }

  #rope_holder .orange-thread img,
  #rope_holder .blue-thread img {
    width: 100%;
    height: 50%;
    padding: 0;
    object-fit: contain;
  }

  #rope_holder .orange-thread h3,
  #rope_holder .blue-thread h3 {
    margin-left: 2rem;
    width: 180px;
  }

  .yellow-delma .thread_title,
  .green-thread .thread_title {
    top: 5%;
    left: 38%;
    right: 38%;
    line-height: 0;
    writing-mode: vertical-rl;
    text-align: center;
    padding: 1rem 0;
  }

  /* thread hover */

  #rope_holder li:hover h3 {
    margin-left: 0.6rem;
  }

  /* thread position */

  .yellow-delma {
    right: 27%;
  }

  .green-doosi {
    left: 27%;
  }

  .orange-personal {
    top: 23%;
  }

  .blue-uni {
    bottom: 23%;
  }

  /** title **/

  .portfolio {
    display: flex;
    justify-content: space-between;
  }

  h1 {
    font-family: "Playfair Display", serif;
    font-size: 7rem;
    line-height: 13%;
    font-weight: 700;
  }

  .han {
    font-style: italic;
    font-weight: 200;
  }

  h3,
  h4,
  h5 {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: 200;
    font-size: 1.3rem;
  }
}

/** 1080 ~ 768 **/

@media (max-width: 1079px) and (min-width: 0px) {
  body {
    position: relative;
  }

  body::after {
    content: "! Sorry, We do not support smaller screen ! ";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    color: #fffceb;
    text-align: center;
    align-content: center;
  }
}
